@import url('https://fonts.googleapis.com/css2?family=Michroma&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
*{
    scroll-behavior: smooth;
}
body{
    font-family: "Michroma", sans-serif;
    margin: 0 auto;
    padding: 0;
    background: rgb(0, 0, 0);
    position: relative;
    min-width: 1400px;
    max-width: 1600px;
}